<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="canonical" href="{{ canonical_url }}" />
    <link rel="shortcut icon" href="{{ 'favicon.ico' | asset_url }}">
{% if template == "index" %}
    <title>{{ shop.name  }}</title>
{% elsif template contains "404" %}
    <title>Page Not Found</title>
{% else %}
    <title>{{ page_title | escape }} | {{ shop.name }}</title>
{% endif %}  
    
{% assign maxmeta = 155 %} 
{% if template contains 'product' %}
    <meta name="description" content="{{ product.description | strip_html | strip_newlines | truncate: maxmeta | escape }}" />
{% elsif template contains 'page' %}
    <meta name="description" content="{{ page.content | strip_html | strip_newlines | truncate: maxmeta | escape }}" />
{% elsif template == 'index' and shop.description != '' %}
    <meta name="description" content="{{ shop.description | strip_html | strip_newlines | truncate: maxmeta | escape}}" />
{% endif %}
    {% if page.handle == 'lineage' %}
        <meta name="viewport" content="width=1024">
    {% else %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endif %}

    {{ 'normalize.css' | asset_url | stylesheet_tag }}
    {{ 'main.css' | asset_url | stylesheet_tag }}
    {{ 'modernizr-2.6.2.min.js' | asset_url | script_tag }}
    {{ content_for_header }}
</head>
{% if template == 'index' %}
    {% assign alt_color = "alt-color" %}
{% else %}
    {% capture cur_page %}{{page.handle}}_nav_color_white{% endcapture %}
    {% if settings[cur_page] %}
        {% assign alt_color = " alt-color" %}
    {% else %}
        {% assign alt_color = '' %}
    {% endif %}
{% endif %}
<body class="{{page.handle}}{{ alt_color}}">
{% if template == 'index' %}
    <div class="fullsize-image-bg">
        <div class="flexslider">
          <ul class="slides">
            <li class="slide-holder">
              <img src="{{'Home_Slide_1.jpg' | asset_url }}" alt="" class="slide-image">
            </li>
            <li class="slide-holder">
              <img src="{{'Home_Slide_2.jpg' | asset_url }}" alt="" class="slide-image">
            </li>
            <li class="slide-holder">
              <img src="{{'Home_Slide_3.jpg' | asset_url }}" alt="" class="slide-image">
            </li>
            <li class="slide-holder">
              <img src="{{'Home_Slide_4B.jpg' | asset_url }}" alt="" class="slide-image">
            </li>
          </ul>
        </div>
    </div>
{% else %}
    {% capture cur_page_bg %}{{page.handle}}_show_background_image{% endcapture %}
    {% if settings[cur_page_bg] %}
        {% capture bg_image %}{{page.handle}}_background_image.jpg{% endcapture %}
        <div class="fullsize-image-bg">
          <div class="flexslider">
            <ul class="slides">
              <li class="slide-holder">
                <img src="{{ bg_image | asset_url }}" alt="" class="slide-image">
              </li>
            </ul>
          </div>
        </div>
    {% endif %}
{% endif %}
<header class="main-header">
    <nav class="main-nav clearfix">
        <a href="{{ shop.url }}" class="main-logo logo-dark"><img src="{{ 'CT_Logo_Gray.svg' | asset_url }}" width="284px" height="19px" id="dark-logo" alt="Chief Trunk logo"></a>
        <a href="{{ shop.url }}" class="main-logo logo-light"><img src="{{ 'CT_Logo_White.svg' | asset_url }}"  width="284px" height="19px"  id="white-logo" alt="Chief Trunk logo"></a>
        <script>
            if (!Modernizr.svg) {
                var img = document.getElementById("dark-logo").src="{{ 'chief_trunk_logo_dark.png' | asset_url }}";
                var img2 = document.getElementById("white-logo").src="{{ 'chief_trunk_logo.png' | asset_url }}";
            }
        </script>
        <ul class="l-horizontal-nav large-nav not-small-screen">
            {% for link in linklists.main-menu.links %}
                {% assign link_handle = link.title | handleize %}
                {% if link_handle == 'shop' %}
                    {% if page.handle == 'products' or template contains 'product' %}
                        {% assign make_active = ' active' %}
                    {% else %}
                        {% assign make_active = '' %}
                    {% endif %}
                {% else %}
                    {% assign make_active = '' %}
                {% endif %}
                <li class="{{ link.title | handleize }}{% if link.active %} active{% endif %}{{ make_active }}">
                    <a href="{{ link.url }}" title="{{ link.title }}">
                        {{ link.title }}{% if link_handle == 'cart' %}<span class="cart-count">{% if cart.item_count > 0 %} {{ cart.item_count }}{% endif %}</span>{% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>
        
        <div class="l-mini-nav-container">
            <a href="#" class="mini-nav-btn small-screen">Menu</a>
            <div class="mini-nav">
                <ul class="small-screen mini-nav-links">
                    {% for link in linklists.small-screen-nav.links %}
                        {% assign link_handle = link.title | handleize %}

                        {% if link_handle == 'subscribe' %}
                            <li class="mini-go-signup">
                                <a href="#" class="email_box" >
                                    <span class="mini-email_button">Subscribe</span>
                                </a>
                            </li>
                        {% else %}
                            <li{% if link_handle == 'follow' %} class="mini-subscribe"{% endif %}>
                                <a href="{{ link.url }}" title="{{ link.title }}" class="{{ link_handle }}{% if link.active %} active{% endif %}">
                                    {{ link.title }}{% if link_handle == 'cart' %}<span class="mini-cart-count">{% if cart.item_count > 0 %} {{ cart.item_count }}{% endif %}</span>{% endif %}
                                </a>
                                {% if link_handle == 'follow' %}
                                    <div class="social-media">
                                        <ul class="l-horizontal-nav">
                                            <li><a href="https://www.facebook.com/ChiefTrunk" class="facebook ir" target="_blank">Follow on Facebook</a></li>
                                            <li><a href="https://twitter.com/ChiefTrunk" class="twitter ir"  target="_blank">Follow on Twitter</a></li>
                                            <li><a href="#" class="social-close ir">Close</a></li/>
                                        </ul>
                                    </div>
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
</header>

{{ content_for_layout }}

<footer class="main-footer  not-small-screen">
    <div class="copyright">&copy; {{ 'now' | date: "%Y" }} Chief Trunk. All rights reserved.</div>
    <nav class="footer-nav">
        <ul class="l-horizontal-nav">
            {% for link in linklists.footer.links %}
                {% assign link_handle = link.title | handleize %}
                {% unless link_handle == 'subscribe' %}
                <li><a href="{{ link.url }}" title="{{ link.title }}" class="{{ link_handle }}{% if link.active %} active{% endif %}">{{ link.title }}</a>
                    {% if link_handle == 'follow' %}
                        <div class="social-media">
                            <ul class="l-horizontal-nav">
                                <li><a href="https://www.facebook.com/ChiefTrunk" class="facebook ir" target="_blank">Follow on Facebook</a></li>
                                <li><a href="https://twitter.com/ChiefTrunk" class="twitter ir"  target="_blank">Follow on Twitter</a></li>
                            </ul>
                        </div>
                    {% endif %}
                </li>
                {% else %}
                <li class="go-signup">
                    <a href="#" class="email_box" >
                        <span class="email_button">Subscribe</span>
                    </a>
                </li>
                {% endunless %}
            {% endfor %}
        </ul>
    </nav>
</footer>

<div class="emailsignup"  style="display:none;" >
  <form action="http://chieftrunk.us7.list-manage1.com/subscribe/post?u=b5c7d2ba7d35a0faa71a59dfd&amp;id=45f52cea4b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
    <fieldset style="border-style:none;">
        <input type="text" value="YOUR EMAIL" name="EMAIL" class="your_email_address" id="mce-EMAIL" />
        <input type="submit" value=" " name="subscribe" id="mc-embedded-subscribe" class="btn email-sub-btn" />
        <input type="submit" value="PLEASE RE-ENTER" name="subscribe" id="mce-error-response" class="btn" style="display:none;" />
        <a href="#" class="email_thanks btn" style="display:none;" >Thank You!</a>                 
    </fieldset>    
</form>
</div>




    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ "jquery-1.10.2.min.js" | asset_url }}"><\/script>')</script>
    {{ 'plugins.js' | asset_url | script_tag }}
    {{ 'main.js' | asset_url | script_tag }}
    <script>
        ChiefTrunk.common.init();
    </script>
    {% if template == 'index' %}
        <script>
            $(window).load(function() {
                ChiefTrunk.giantImage.init();
                $('.flexslider').flexslider({
                    animation: "fade",
                    controlNav: false,
                    directionNav: false,
                    slideshowSpeed: 6000
                });
            });
        </script>
    {% endif %}
    {% if template contains 'product' %}
        {% unless page.handle == 'products' %}
        {{ 'api.jquery.js' | shopify_asset_url | script_tag }}
        <script>
            $(window).load(function(){
                ChiefTrunk.product.init();
            });
        </script>
        {% endunless %}
    {% endif %}

    {% case page.handle %}
    {% when 'shop' %}
        <script>
            ChiefTrunk.giantImage.init();
            $('.flexslider').flexslider({
                animation: "fade",
                controlNav: false,
                directionNav: false,
                slideshowSpeed: 6000
            });
        </script>
    {% when 'about' %}
        <script>
            $(window).load(function() {
                var config = {
                        customControls: true,
                        shortenTop: true
                };
                    
                    

                ChiefTrunk.giantImage.init(config);
                $('.flexslider').flexslider({
                    animation: "fade",
                    controlNav: false,
                    directionNav: false,
                    slideshow: false
                });
            });
        </script>
    {% when 'policies' %}
        <script>
            if ($(window).width() > 565) {
                ChiefTrunk.giantImage.init();
                $('.flexslider').flexslider({
                    animation: "fade",
                    controlNav: false,
                    directionNav: false
                });
            }  
            ChiefTrunk.adminPages.init();                                                       
        </script>
    {% when 'privacy' %}
        <script>
            if ($(window).width() > 565) {
                ChiefTrunk.giantImage.init();
                $('.flexslider').flexslider({
                    animation: "fade",
                    controlNav: false,
                    directionNav: false
                });
            } 
            ChiefTrunk.adminPages.init();
        </script>
    {% when 'returns' %}
        <script>
            if ($(window).width() > 565) {
                ChiefTrunk.giantImage.init();
                $('.flexslider').flexslider({
                    animation: "fade",
                    controlNav: false,
                    directionNav: false
                });
            } 
            $(window).load(function() {
                ChiefTrunk.adminPages.init();
            });
        </script>
    {% when 'contact' %}
        <script>
            var config = {
                shortenTop: true
            }
            if ($(window).width() > 565) {
                ChiefTrunk.giantImage.init(config);
                $('.flexslider').flexslider({
                    animation: "fade",
                    controlNav: false,
                    directionNav: false
                });
            } 
            ChiefTrunk.adminPages.init();
        </script>
    {% when 'products' %}
        <script>
            $(window).load(function(){
                //ChiefTrunk.products.init();
            });
        </script>
    {% when 'care' %}
        <script>
            $(window).load(function(){
                ChiefTrunk.care.init();
            });
        </script>
    {% when 'journal' %}
        <script>
            $(window).load(function(){
                ChiefTrunk.journal.init();
            });
        </script>
    {% when 'lineage' %}
        <script>
                ChiefTrunk.lineage.init();
        </script>
    {% else %}
    {% endcase %}

</body>
</html>
