<div class="cart-container">
  {% if cart.items == empty %} 
    <p class="cart-empty">Your shopping cart is empty.</p>
  {% else %}
    <form action="/cart" method="post" id="cartform" class="clearfix">
      <table class="cart-table">
        {% if cart.items == empty %}
          <tr><td colspan="4">
        {% endif %}
        {% for item in cart.items %}
          <tr>
              <td class="cart-thmb">
                 <img src="{{ item.product.featured_image | product_img_url: 'small' }}"  alt="{{ item.product.title }}" />
              </td>
              <td class="cart-title">
                {{ item.title }}
              </td>
              <td class="cart-price">
                <span class="cart-line">{{ item.price | money }}</span>
                Quantity: <input class="text quantity update-quantity" type="text" size="4" id="updates_{{ item.id }}" name="updates[]" value="{{ item.quantity }}" class="replace" />
              </td>
              <td class="cart-actions">
                <span class="cart-line"><input type="submit" name="update" value="Update" /></span>
                <a class="btn remove-from-cart" href="/cart/change?line={{ forloop.index }}&quantity=0">Remove</a>
              </td>
          </tr>
        {% endfor %}
        <tr>
          <td colspan="2" class="cart-site-links">
            <a href="/pages/returns">Return Policy</a>
          </td>
          <td class="cart-totals">
            Subtotal
          </td>
          <td class="cart-totals">
            $500.00
          </td>
        </tr>
      </table>
    {% endif %}
    <a href="/" class="cart-to-shop">Back to Shop</a>
</div>