<div class="container clearfix products-landing">
{% for link in $linklists.shop-navigation.links %}
    <section id="{{ link.title | handleize }}" class="clearfix shop-section">
        <header class="shop-section-header">
            <h1>{{ link.title | escape }}</h1>
        </header>
        <ul class="l-horizontal-nav">
            {% for product in link.object.products %}
                <li>
                    <article class="collection-item">
                        <a href="/collections/{{ link.object.title | handleize }}/products/{{ product.handle }}" title="{{ product.title }}">
                            <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.featured_image.alt | escape }}">
                        </a>
                    </article>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endfor %}
<div class="copyright small-screen">&copy; {{ 'now' | date: "%Y" }} Chief Trunk. All rights reserved.</div>
</div>