
<nav class="shop-nav clearfix">
	<div class="shop-nav-container">
	    <ul class="l-horizontal-nav">
	        {% for link in linklists.shop-navigation.links %}
	        	{% if forloop.first %}
		        	<li><a href="/pages/products" title="{{ link.title }}">{{ link.title }}</a></li>
		        {% else %}
		            <li><a href="/pages/products#{{ link.title | handleize }}" title="{{ link.title }}">{{ link.title }}</a></li>
		        {% endif %}

	        {% endfor %}
	    </ul>
	</div>
</nav>
<div class="copyright small-screen">&copy; {{ 'now' | date: "%Y" }} Chief Trunk. All rights reserved.</div>