{% comment %} for some reason when I tried reordering the list it kept saving it in reverser.  Everything here is backwards {% endcomment %}
{% for product_link in collections.all-products.products %}
  {% if product_link.handle == product.handle %}
    {% if forloop.first %}
      {% assign curNum = forloop.index0 %}
      {% assign prevNum = curNum | plus: 1 %}
      {% assign nextNum = forloop.length | minus: 1 %}
      {% assign next_link = collections.all-products.products[nextNum].url %}
      {% assign prev_link = collections.all-products.products[prevNum].url %}
    {% elsif forloop.last %}
      {% assign curNum = forloop.index0 %}
      {% assign nextNum = curNum | minus: 1 %}
      {% assign next_link = collections.all-products.products[nextNum].url %}
      {% assign prev_link = collections.all-products.products[0].url %}
    {% else %}
      {% assign curNum = forloop.index0 %}
      {% assign prevNum = curNum | plus: 1 %}
      {% assign nextNum = curNum | minus: 1 %}
      {% assign next_link = collections.all-products.products[nextNum].url %}
      {% assign prev_link = collections.all-products.products[prevNum].url %}
    {% endif %}
  {% endif %}
{% endfor %}

<div class="container l-product-page clearfix">
    <article class="product-page">
      <img src="{{ product.featured_image | product_img_url: '1024x1024' }}" alt="{{ product.featured_image.alt | escape }}" data-giant-image="{{ product.featured_image | product_img_url: '2048x2048' }}" class="featured-img invisible">
      <div class="tool-tip ir">Click to view larger</div>
      <section class="l-product-col product-images invisible {% if product.images.size > 3 %} two-col{% endif %}">
        {% for image in product.images %}
            <a href="{{ image | product_img_url: '1024x1024' }}" class="thmb-links" data-giant-image="{{ image | product_img_url: '2048x2048' }}"><img src="{{ image | product_img_url: 'small' }}" alt="{{ image.alt | escape }}"></a>
        {% endfor %}
        <div class="product-link-holder only-big"><a href="{{ next_link }}" class="product-link next">Next Product &gt;</a></div>
      </section>
      <section class="l-product-col product-info invisible">
        <header>
          <h1 class="product-name">{{ product.title }}</h1>
        </header>
        <p class="price">{{ product.price | money }}</p>
        <div class="product-description">
          {{ product.description }}
        </div> 
        <a href="/pages/products" class="shop-link">Back to Shop</a>
        <form action="/cart/add" method="post" enctype="multipart/form-data" id="product-form">
          <input type="hidden" id="{{ product.variants[0].id }}" name="id" value="{{ product.variants[0].id }}" />
          {% if product.available %}
          <div class="add-item-holder">
            <div class="item-add-msg"><span class="adding-msg">adding item to cart</span><span class="added-msg">Item added</span></div>
            <input type="submit" name="add" id="add" class="add-to-cart-btn" value="Add to cart">
          </div>
          {% else %}
            <div class="sold-out">Sold out</div>
          {% endif %}
        </form>
          <div class="product-link-holder only-big"><a href="{{ prev_link }}" class="product-link prev">&lt; Previous Product</a></div>
      </section>
      <div class="prev-next-product-nav not-big invisible">
        <div class="product-link-holder not-big"><a href="{{ prev_link }}" class="product-link prev">&lt; Previous</a></div>
        <div class="product-link-holder not-big"><a href="{{ next_link }}" class="product-link next">Next &gt;</a></div>
      </div>
      <div class="copyright small-screen">&copy; {{ 'now' | date: "%Y" }} Chief Trunk. All rights reserved.</div>
    </article>
    
</div>
<div class="giant-image-holder">
  <img src="{{product.featured_image | product_img_url: pico}}">
</div>
<div class="close-btn ir">Click to close</div>